In [62]:
import pyarrow.parquet as pq
from minio import Minio
from io import BytesIO
import pandas as pd

minio_endpoint = "localhost:8050"
minio_access_key = "minioaccesskey"
minio_secret_key = "miniosecretkey"
secure = False

minio_client = Minio(
    minio_endpoint,
    access_key=minio_access_key,
    secret_key=minio_secret_key,
    secure=secure,
)

In [63]:
parquet_data = minio_client.get_object("query-bucket", "db.parquet")
parquet_bytes = BytesIO(parquet_data.read())

parquet_table = pd.read_parquet(parquet_bytes)

In [64]:
len(parquet_table)

90

In [54]:
new_data={'Account': 'ohjamez', 'URL': 'https://www.tiktok.com/@ohjamez/video/7276682575404387630', 'likes': '74.3K', 'comments': '291', 'saved': '4802', 'Caption': 'Replying to @aleentabel', 'Hashtags': [], 'DateColected': '2023-11-16', 'DatePosted': '9-9', 'RawData': "ohjamez\nIG: JettyJamez\n·\n9-9\nFollow\nReplying to @aleentabel\noriginal sound - IG: JettyJamez\n74.3K\n291\n4802\nhttps://www.tiktok.com/@ohjamez/video/7276682575404387630?is_from_webapp=1&sender_device=pc&web_id=73", 'score': 34}

In [58]:
temp_df = pd.DataFrame([new_data])
parquet_table = pd.concat([parquet_table, temp_df], ignore_index=True)
parquet_table.head()

,Account,URL,likes,comments,saved,Caption,Hashtags,DateColected,DatePosted,RawData,Score,score
0,ohjamez,https://www.tiktok.com/@ohjamez/video/72766825...,74.3K,291,4802,Replying to @aleentabel,[],2023-11-16,9-9,ohjamez\nIG: JettyJamez\n·\n9-9\nFollow\nReply...,NaN,34.0